@use 'vuetify' with (
  $utilities: (
    margin: false,
    margin-x: false,
    margin-y: false,
    margin-top: false,
    margin-bottom: false,
    margin-left: false,
    margin-right: false,
    margin-start: false,
    margin-end: false,
    padding: false,
    padding-x: false,
    padding-y: false,
    padding-top: false,
    padding-bottom: false,
    padding-left: false,
    padding-right: false,
    negative-margin: false,
    negative-margin-x: false,
    negative-margin-y: false,
    negative-margin-top: false,
    negative-margin-bottom: false,
    negative-margin-left: false,
    negative-margin-right: false,
    negative-margin-start: false,
    negative-margin-end: false
  )
);
@import './base.css';
@import "mixin";
#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.form-label {
   @include form-label;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


